canvas {
    /* border: 1px solid black; */
}

#container {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin: 20px 200px; */
    /* padding: */
}

button {
    width: 60px;
    padding: 5px;
    margin: 20px;
}